
#python=3.10


#********************
# Ray (ML-ops Framework)
#----------
#ray[serve]
#ray[data,train,tune,serve]
# For reinforcement learning support, install RLlib instead.
# pip install -U "ray[rllib]"

##"skypilot[aws]""
vllm



#********************
# Machine Learning
#----------
#torch
#ctransformers
#accelerate #>=0.16.0
#transformers #>=4.26.0
#bitsandbytes


#openai

##tqdm
##peft
##trl
##catboost # ML algorithm




#********************
# Web App
#----------
fastapi
requests

### PROBLEMS INSTALLLING ###
#   --> logging     
#   --> asyncio


#flask==2.3.3

#queue
#starlette


#********************
# AWS 
#----------
boto3
awscli
sagemaker
#sagemaker-training
#sagemaker-experiments
#s3
#amazon-linux-extras
#datasets[s3]
